/* ==========================================================================
Author's custom styles
========================================================================== */
body{
    background-color: #f9f9f9;
}
header{
    height: 55px;
    background-color: #fff;
    margin-left: 250px;
}
.notifyjs-corner{
    z-index: 100000 !important;
}
.selectize-dropdown-content > div > span.title{
    font-size: 12px;
}
.selectize-dropdown-content > div span.name{
    font-weight: bold;
    display: block;
}
.selectize-dropdown-content > div span.address{
    font-size: 10px;
    font-weight: normal;
    color: #999;
    line-height: 0px;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 11px;
}
.input-sm{
    height: 28px;
    padding: 3px 6px;
    font-size: 11px;
    line-height: 1.1;
    border-radius: 0;
}
select.input-sm{
    height: 28px;
}
.table>tbody>tr>td{
    padding: 1px;
}
.img-thumbnail {
    padding: 2px;
}
.no-padding{
    padding: 0 !important;
}
.form-one-liner{
    display: inline-block;
}
.strikethrough{
    text-decoration:line-through;
}
.password-eye{
    cursor: pointer;
    margin-top: 3px;
}
.panel-body{
    /*max-height: 350px;*/
    position: relative;
    overflow: auto;
    resize: vertical;
}
.panel.extended .panel-body{
    /*height: 600px;*/
}
.panel-btn{
    margin-left: 10px;
    cursor: pointer;
}
.panel-btn.drag{
    cursor: move;
}

.panel.expanded{
    position: fixed;
    left:250px;
    top:0px;
    right: 0px;
    height: 98%;
    margin:5px;
    z-index: 25 !important;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(135,135,135,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(135,135,135,1);
    box-shadow: 0px 0px 5px 5px rgba(135,135,135,1);
}
.chhotu-page-container .panel.expanded{
    left:55px;
}
.panel.expanded .panel-body{
    min-height: 100%;
}
.panel.expanded .new-btn{
    bottom: 50px !important;
}
.panel.expanded .panel-btn.drag{
    display: none;
}
.movable{
    min-height: 45px;
}
.ui-sortable-placeholder {  
    border: 3px dashed #aaa;  
    height: 45px;  
    width: 100%;  
    background: #eee;
    margin-bottom: 20px;
}
.fa.minimize:before {
    content: "\f147";
}
.fa.minimize.maximize:before{
    content: "\f196";
}
/*.boxcheck label div{
text-align: center;
display: block;
background: #000;
width: 100%;
height: 20px;
}
.boxcheck label input[type=checkbox]{
display: none;
}*/
.form-control{
    color: #000;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.btn-xxs{
    padding: 1px 3px;
    font-size: 11px;
    line-height: 1.1;
    border-radius: 2px;
}
.input-xs {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
@media (max-width: 767px) {
    header{
        display: none;
    }
    .panel.expanded{
        left: 0px;
    }
}
.calculator-result {
    background-repeat:repeat-x;
    border:1px solid #333333;	
    color:#333333;   
    background-color: #F7F2F2;;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
}
.calculator-result:hover  {
    border: 1px solid #333333;
}
.calculator-result:focus  {

    box-shadow: inset 0px 1px 2px 0px #9C9C9C;
}

::webkit-scrollbar-track {
    background: rgba(255,255,255,.08);
}
::-webkit-scrollbar {
    width: 3px!important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

/* TITLE*/
.title{
font-weight:bolder; 
font-size:64px; 
font-family: serif;
font-style:italic;
color:#fff;text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

/*LOGIN BUTTON*/
.login_button {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:17px;
	font-style:italic;
	padding:8px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.login_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.login_button:active {
	position:relative;
	top:1px;
}

.footer {
  z-index: 9;   
}
.footer p {
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;	
    font-weight: 500;
}
.footer p a {
	font-family: 'Open Sans', sans-serif;	
	font-size: 1em;
	color:#06aebe;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-decoration:none;
}